# Ignore node_modules
node_modules/

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore build folders
dist/
build/

# Ignore cache files
.cache/
*.cache

# Ignore OS-specific files
.DS_Store
Thumbs.db
